.table{
    color: red;
    background-color: darkseagreen;
}
.h5{
    color: red;
}
.navbar img{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: -380px;
    height: 550px;
    width: 100%;"
  }